.movie-card {
    position: relative;
}

.movie-card__image {

}

.movie-card__footer {
    position: relative;
}

.movie-card__footer_title {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    width: 206px;
    position: absolute;
    left: 12px;
    top: 14px;
}

.movie-card__footer_duration {
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    width: 206px;
    color: #A0A0A0;
    position: absolute;
    left: 12px;
    top: 40px;
}

.movie-card__footer_short {
    width: 16px;
    height: 16px;
    background-color: #2BE080;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    position: absolute;
    right: 12px;
    top: 14px;
}

.movie-card__footer_delete {

}