.portfolio {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 70px;
}

.portfolio__separator-h {
    background-color: #E8E8E8;
    height: 1px;
    width: 100%;
}


.portfolio__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #A0A0A0;
    margin: 0 0 30px 0;
}

.portfolio__box {
    color: #000000;
}

.portfolio__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px 0 19px 0;
}

.portfolio__item:last-child {
    margin: 20px 0 125px 0;
}

.portfolio__item_name {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
}

.portfolio__item_link-logo {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.04em;
    text-align: center;    
    vertical-align: middle;
}

@media all and (max-width: 1280px) {
    .portfolio {
        margin: 0 50px;
    }
    
    .portfolio__title {
        margin: 0 0 30px 0;
    }
    
    .portfolio__item:last-child {
        margin: 20px 0 90px 0;
    }
    
    .portfolio__item_name {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__item_link-logo {
        font-size: 28px;
        line-height: 60px;
    }
}

@media all and (max-width: 768px) {
    .portfolio {
        margin: 0 14px;
    }
    
    .portfolio__title {
        margin: 0 0 40px 0;
        font-size: 14px;
        line-height: 20px;
    }
    
    .portfolio__item:last-child {
        margin: 20px 0 70px 0;
    }
    
    .portfolio__item_name {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__item_link-logo {
        font-size: 18px;
        line-height: 28px;
    }
}