.form-container_login {
    max-width: 396px;
    height: 100%;
    position: relative;
    justify-content:center;
    align-self: center;
    font-size: 14px;
    margin: 0;
}

.form-container__logo_login {
    background-image: url("../../images/logo_login.svg");
    width: 38px;
    height: 38px;
    margin-top: 70px;
}

.form-container__greeting_login {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 40px 0;
}

.form-container__input_login {
    background-color: white;
    color: black;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

#form-container__input_email_login {
    margin-bottom: 24px;
}

#form-container__input_password_login {
    margin-bottom: 42px;
}

.form-container__input_login:focus {
    font-weight: bold;
    color: black;
    outline: none;
}

.form-container__register-text_login {
    color: #A0A0A0;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    margin: 16px 0 70px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.form-container__register-text_link_login {
    color: #3456F3;
    
}

.form-container__text_login {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 5px;
}

.form-container__submit_login {
    color: white;
    font-size: 14px;
    min-width: 396px;
    height: 45px;
    background-color: #3456F3;
    border: 0;
    border-radius: 3px;
    margin-top: 179px;
    cursor: pointer;
}

@media all and (max-width: 1280px) {    
    .form-container__logo_login {
        margin-top: 232px;
    }
    
    .form-container__register-text_login {
        margin: 16px 0 232px 0;
    }
}

@media all and (max-width: 768px) {
    .form-container_login {
        max-width: 260px;
    }

    .form-container__logo_login {
        margin: 56px auto 0 auto;
    }

    .form-container__greeting_login {
        margin: 50px auto 80px auto;
        text-align: center;
    }

    .form-container__submit_login {
        font-size: 12px;
        min-width: 260px;
        margin-top: 267px;
    }
    
    .form-container__register-text_login {
        font-size: 12px;
        line-height: 14.52px;
        margin: 14px 0 30px 0;
    }
}
