.movies-card-list {
    margin: 70px 0 30px 0;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    position: relative;
    z-index: 0;
}

.movies-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 32px;
    max-width: 1140px;
}

.more {
    max-width: 1140px;
    height: 36px;
    margin: 50px 0 80px 0;
    display: block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    color: #000000;
    background-color: #F9F9F9;
    border-radius: 6px;
}

@media all and (max-width: 1280px) {
    .movies-cards {
        grid-template-columns: 1fr 1fr;
        align-content: space-between;
        column-gap: 30px;
        row-gap: 36px;
    }
}

@media all and (max-width: 768px) {
    .movies-cards-list {
        margin: 40px 0 10px 0;
    }
    .movies-cards {
        grid-template-columns: none;
        row-gap: 20px;
    }
}
