.about-project {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    max-width: 1280px;
    min-width: 284px;
    margin: 0 70px;
    font-size: 14px;
}

.about-project__title {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 110px 0 23px 0;    
}

.about-project__separator-h {
    background-color: #000000;
    height: 1px;
}

.about-project__text-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
}

.about-project__text-blocks_block {
    min-width: 284px;
    display: flex;
    flex-direction: column;
    margin: 70px 0 110px 0;
}

.about-project__text-blocks_block_title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0 0 26px 0;
}

.about-project__text-blocks_block_description {
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;    
}

.about-project__progress-bar {
    display: flex;
    flex-direction: row;
    margin: 0 0 110px 0;
}

.about-project__progress-bar_backend {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 20%;
}

.about-project__progress-bar_bar {
    font-family: Inter;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    vertical-align: middle;
    height: 36px;
}

#backend {
    background-color: #2BE080;
}

#frontend {
    background-color: #F2F2F2;
}

.about-project__progress-bar_name {
    font-family: Inter;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;    
    vertical-align: middle;
    color: #A0A0A0;
    height: 36px;
}

.about-project__progress-bar_frontend {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 80%;
    
}

@media all and (max-width: 1280px) {
    .about-project {
        margin: 0 50px;
    }

    .about-project__title {
        margin-top: 93px;
    }

    .about-project__text-blocks {
        flex-direction: row;
        margin: 0 30px 26px 0;
        column-gap: 30px;
    }

    .about-project__text-blocks_block {
        margin: 70px 0 93px 0;
    }

    .about-project__text-blocks_block_title {
        margin-bottom: 22px;
    }

    .about-project__text-blocks_block_description {
        font-size: 12px;
        line-height: 12px;
    }

    .about-project__progress-bar {
        margin: 0 0 90px 0;
    }
}

@media all and (max-width: 768px) {
    .about-project {
        margin: 0 18px;
        font-size: 11px;
        line-height: 11px;
    }

    .about-project__title {
        font-size: 18px;
        line-height: 18px;
        margin: 70px 0 28px 0;
    }

    .about-project__text-blocks {
        flex-direction: column;
        margin: 60px 0 60px 0;
        column-gap: 0px;
        row-gap: 56px;
    }

    .about-project__text-blocks_block {
        margin: 0 0 0 0;
    }

    .about-project__text-blocks_block_title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .about-project__text-blocks_block_description {
        font-size: 11px;
        line-height: 11px;
    }

    .about-project__progress-bar_name {
        height: 35px;
    }

    .about-project__progress-bar {
        margin: 0 0 70px 0;
    }
}